<div class="pantalla-perfil">
  <div class="fondo-perfil">
    <div class="info-perfil">
      <div class="image-perfil">
        <img [src]="(profilePic == '') ? '../../../../assets/NoImage.png' : profilePic" alt="Foto perfil usuario" width="200px" height="200px">
        <div class="button-image">
          <button type="button" mat-raised-button (click)="fileInput.click()">Actualizar</button>
          <input hidden (change)="uploadNoticiaImage($event)" #fileInput type="file">
          <span class="file-name">{{selectedFile?.name}}</span>
        </div>
      </div>
      <form [formGroup]="formProfile" (ngSubmit)="onModifiedProfile()" class="formulario-perfil">

        <mat-form-field appearance="legacy">
          <mat-label>Email</mat-label>
          <input matInput disabled [value]="email">
        </mat-form-field>

        <mat-form-field appearance="legacy">
          <mat-label>Nombre</mat-label>
          <input matInput type="text" class="form-control" formControlName="name">
          <mat-error *ngIf="name.invalid && (name.dirty || name.touched)">{{getErrorMessageNameLastname()}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="legacy">
          <mat-label>Apellido</mat-label>
          <input matInput type="text" class="form-control" formControlName="lastName">
          <mat-error *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)">{{getErrorMessageNameLastname()}}
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="legacy">
          <mat-label>Fecha de nacimiento</mat-label>
          <input matInput formControlName="birthdate" [matDatepicker]="picker" [max]="maxDate" [min]="minDate">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="birthdate.invalid && (birthdate.dirty || birthdate.touched)">{{getErrorMessageBirthday()}}
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="legacy">
          <mat-label>Dirección de domicilio</mat-label>
          <mat-select class="form-control" formControlName="direccionBase">
            <mat-option *ngFor="let direction of directionsMap" [value]="direction.key"> {{direction.value}}</mat-option>
          </mat-select>
          <mat-error *ngIf="direccionBase.invalid && (direccionBase.dirty || direccionBase.touched)">
            {{getErrorMessageDirection()}}</mat-error>
        </mat-form-field>

        <div class="button-save">

          <button mat-raised-button color="primary"
            [disabled]="name.invalid || lastName.invalid || direccionBase.invalid || birthdate.invalid">Guardar</button>
        </div>
        <div class="footer">
          <button mat-fab color="warn" (click)="singOut()">
            <mat-icon>logout</mat-icon>
          </button>
        </div>
      </form>

    </div>
    
  </div>
  
    
</div>

