<h1 mat-dialog-title>Instrucciones: </h1>
<div mat-dialog-content>
    <ol>
        <li>Navega a través del mapa o elije un sector en la lista de la izquierda haciendo
            clic sobre el icono: <br> <img src="../../../../assets/icono-mapa-busqueda.JPG" alt="icono-mapa">
        </li>
        <li>Se abrirá un cuadro informativo a la izquierda del mapa.</li>
        <li>Consulta la información que necesites como horarios, días, tipo de servicio, etc.</li>
    </ol>
</div>
<div mat-dialog-actions>
    <button mat-button color="primary" [mat-dialog-close]="true">
        Lo tengo
    </button>
  
</div>