.admin-menu {
    background: #47AF49;
    justify-content: space-evenly;
    border-bottom: solid 1px;
    margin-bottom: 1rem;
}

button{
    border-radius: 20px;
    font-size: 16px;
}

.footer{
    margin: 1rem 76rem 0rem 1rem;
    text-align: center;
}