.grupo-labels{
    margin-top: -15px;
}

.header-tab{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.header-title {
    text-align: center;
    background-color: antiquewhite;
    padding: 0.1rem 3rem;
}

.header-buttons{
    position: absolute;
    right: 0;
}

.individual-recomendacion {
    margin: 0 1rem;
    margin-bottom: 1rem;
}

.contenedor {
    margin: 1rem 0.9rem;
    text-align: center;
}

.centrado {
    text-align: justify;
    margin-top: 0.5rem;
}

.example-card{
    margin: 0 20px;
    height: 360px;
}

button{
    margin: 0.1rem 1.5rem;
}