.fondo-sugerencias{
    margin: 1rem;
}

.form-sugerencia{
    text-align: center;
    margin: 0 19rem;
}

.header-sugerencias{
    
    font-size: 15px;
}

.formulario-sugerencias{
    display: flex;
    flex-direction: column
}

.mostrar-sugerencias{
    margin: 1rem
}

table{
    width: 100%;
}