<div class="pantalla-recover" style=" background-image: url(../../../assets/AplicacionWebFondo.jpg)">
  <div class="fondo-recover">
    <div class="recover-content">
      <div class="recover-header">
        <h4>
          Recuperar contraseña
        </h4>
        <button mat-mini-fab color="primary" aria-label="close" (click)="closeRecoverPassword()">
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <p>
        Te enviaremos un mensaje a tu correo.<br>
      </p>
      <mat-divider></mat-divider>
      <div class="recover-container">
        <form [formGroup]="formRecover" (ngSubmit)="onSubmit()" class="recover-formulario">

          <mat-form-field appearance="legacy">
            <mat-label>Email</mat-label>
            <input matInput type="email" class="form-control" formControlName="email" placeholder="nick_name@gmail.com">
            <mat-error *ngIf="email.invalid && (email.dirty || email.touched)">{{getErrorMessageEmail()}}</mat-error>
          </mat-form-field>
          <div class="button-submit">

            <button mat-raised-button color="primary" [disabled]="email.invalid">Recuperar contraseña</button>
          </div>
        </form>
        <p>
          Si no has recibido un correo: <br>
          - Revisa si está bien escrita la dirección de correo <br>
          - Revisa en la carpeta de SPAM <br>
          - Recuerda que la contraseña debe tener mínimo 6 caracteres, 1 numero y 1 símbolo
        </p>
      </div>
    </div>
  </div>
</div>