.pantalla-recover{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    z-index: 999999;
}

.fondo-recover {
    height: auto;
    width: 550px;
    padding: 1rem;
    border-radius: 20px 20px 20px 20px;
    border: solid 1px;
}

.recover-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: -150px;
}

.recover-formulario {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 1rem auto;
}

button {
    margin: 1rem 11rem;
    font-size: 16px;
    color: white;
}

h4 {
    font-size: 30px;
    font-weight: 600;
    color: black;
    margin-top: 20px;
}